.youtubeFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14;
  line-height: 1.28342;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}
